
<html>
<head>
  <meta charset="utf-8">
  <title>My Page</title>
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>


<body>
  <div mclass="main">
    <!-- header-->
      <div class="header">
       <ul>
        <li><a href="">TOP</a></li>
        <li><a href="{% url 'post_list' %}" target="_blank">BLOG</a></li>
        <li><a href="mailto:info@example.com">CONTACT</a></li>
      </ul>
      </div>
    <!--contents-->
    <div class="contents">
    <!-- wlocome-->
      <div class="welcome" id ="top">
        <h1 class="bigmoji"><i class="fas fa-code"></i>Code Your Future<br>
          <!-- using olny
          <span>Using only HTML & CSS.</span>--></h1>
        <p class="smallmoji">
         The following are my account.
        </p>
            <!-- button -->
      <div class="btn">
        <ul>
          <li><a href="https://www.google.com" target="_blank"><span class="fab facebook fa-facebook-square">Facebook</span></a></li>

          <li><a href="https://www.google.com" target="_blank"><span class="fab twitter fa-twitter-square">Twitter</span></a></li>

          <li><a href="https://www.google.com" target="_blank"><span class="fab linkedin fa-linkedin">Linkedin</span></a></li>
        </ul>
       </div>
      </div>


  <!-- colums-->
    <div class="colum1 colum">
        <img src="https://www.filepicker.io/api/file/zA7GxFqQZGBe1DHh70DI" alt="" class="image1">
      <div class="wri-1">
        <h3>
          What Is Coding?
        </h3>

        <p>You’ve seen the craze for learning code. But what exactly is coding? Coding is what makes it possible for us to create computer software, apps and websites. Your browser, your OS, the apps on your phone, Facebook, and this website – they’re all made with code. </p>
      </div>
    </div>

    <div class="colum2 colum">
        <img src="https://freefrontend.com/assets/img/placeholder.png" alt="" class="image2">
      <div class="wri-2">
        <h3>
         Where To Start?
        </h3>

        <p>To figure out the best way for you to learn how to coding from scratch it's a good idea to think about why you want to learn coding in the first place. </p>
      </div>
    </div>

    <div class="colum3 colum">
        <img src="https://cdn.dribbble.com/users/102044/screenshots/3126121/icono_vaso.jpg" alt="" class="image3">
      <div class="wri-3">
        <h3>
          Why Do Programmers Love Coffee?
        </h3>
        <p>I’m a Python programmer and I love drinking coffee.I think that’s a great question worth writing about. I believe the biggest reason is that coffee is a symbol of concentration. And coders need to concentrate to get any meaningful work done.</p>
      </div>
    </div>


    <!-- big photo-->
     <div class="last-msg">
      <div class="catch-word">
      <i class="fas fa-code"></i>Code Your Future.
      </div>
     </div>

    <!-- footer-->
      <footer>
       <p>
      Copyright © SHUN SATO All Rights Reserved.<br><i>Using only HTML and CSS</i>
       </p>
      </footer>

    </div><!--contents -->
  </div><!-- main-->



</body>
</html>



