* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration:none;
  font-family: 'Trebuchet MS',sans-serif;
}



/* base.html*/
.contents{
  margin-left: 150px;
  margin-right: 150px;
}

.page-header{
  height: 50px;
  width: 100%;
  background-color: #f5f5f5;
  border-bottom: solid #dcdcdc 2px;
  position:fixed;
  top:0;
  left:0;
  z-index:24;
}

.page_title{
  margin: 30px 30px;
  color: black;
  font-size: 30px;
}

.submit{
  position: relative;
  padding-bottom: 10px;
}


.contents{
  margin-top: 100px;
}
.title,.title:visited,.title:hover{
  color:black;
  text-decoration:none;
}

.fas{
  color:black;
  margin-top: 20px;
  margin-bottom: 5px;
}

.fa-plus-square{
  float: right;
  margin-right: 10%;
}

.post{
  border-bottom: groove 1px #f5f5f5;
}

.post_title,.post_title:hover,.post_title:visited{
  color:black;
  text-decoration:none;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}


.postlist_title{
  margin-top: 30px;
  margin-bottom: 30px;
}








.post1{
  margin-bottom: 50px;
}


.postarea{
  margin-top: 100px;
}

.date {
  color: #828282;
}

.save {
  float: right;
}

.post-form textarea, .post-form input {
  width: 50%;
  font-size: 18px;
  margin-bottom: 10px;
}

.save{
  margin-top: 20px;
  margin-right: 93%;
  padding: 5px 5px;
  font-size: 15px;
  color: white;
  background-color: #00DD00;
  border-color: #00DD00;
  border-radius: 5px;
}
.post {
  margin-bottom: 70px;
}





